* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(99, 23, 221);
    color: white;
    height: 65px;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap-reverse;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.box {
    border: 1px solid black;
    font-size: 120px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(217, 186, 246);
}

.info {
    font-size: 30px;
    margin-left: 20px;
}

.gameInfo {
    padding: 0 50px;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

#reset {
    margin-left: 50px;
    padding: 5px 40px;
    background-color: rgb(217, 186, 246);
    border-radius: 7px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.gameInfo h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.bt {
    border-top: 0;
}

.bb {
    border-bottom: 0;
}

.bl {
    border-left: 0;
}

.br {
    border-right: 0;
}

/* media query */
@media only screen and (max-width:870px) {
    #reset{
        font-size: 15px;
    }

    .info {
        font-size: 30px;
        margin-left: 60px;
    }

    .container {
        margin-top: 50px;
        grid-template-columns: repeat(3, 14vw);
        grid-template-rows: repeat(3, 14vw);
    }
    .box{
        font-size: 100px;
    }
}

@media only screen and (max-width:575px){
    .gameInfo h1 {
        font-size: 30px;
        
    }
    #reset{
        font-size: 15px;
        padding: 5px 30px;
    }

    .info {
        font-size: 25px;
        margin-left: 60px;
    }
    .container {
        /* margin-top: 50px; */
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }
    .box{
        font-size: 90px;
    }
}

@media only screen and (max-width:456px){
    .gameInfo h1 {
        font-size: 25px;
        
    }
    .info{
        margin-left: 10px;
    }
    .box{
        font-size: 70px;
    }
}